#admin_container {
    padding: 0 3rem
}

    #admin_container input[type="text"], #admin_container input[type="number"] {
        height: 50px;
        width: 100%;
        outline: none;
        font-size: 1rem;
        color: #707070;
        margin-top: 8px;
        border: 1px solid #ddd;
        border-radius: 6px;
        padding: 0 15px
    }

.admin_input_conatiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.admin_img_preview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 8px
}

    .admin_img_preview > img {
        display: block;
        max-width: 500px;
        width: calc(100vw - 5rem)
    }

.admin_button_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 8px 0
}

    .admin_button_container input[type="submit"] {
        display: inline-block;
        background-color: var(--first-color);
        width: 100%;
        min-width: -webkit-max-content;
        min-width: -moz-max-content;
        min-width: max-content;
        color: #fff;
        font-weight: var(--font-semi-bold);
        padding: 1rem;
        border-radius: .5rem;
        cursor: pointer;
        -webkit-transition: -webkit-box-shadow 0.4s;
        transition: -webkit-box-shadow 0.4s;
        -o-transition: box-shadow 0.4s;
        transition: box-shadow 0.4s;
        transition: box-shadow 0.4s, -webkit-box-shadow 0.4s;
        -webkit-box-flex: 1;
        -ms-flex: 1 0;
        flex: 1 0
    }

#ContentPlaceHolder1_GridView1, admin_preview > div {
    width: 100%
}

    #ContentPlaceHolder1_GridView1 * {
        text-align: center
    }

    #ContentPlaceHolder1_GridView1 td {
        width: 16.66%
    }
