.detailpage-container {
  margin: 60px auto;
  display: flex;
  margin-top: 100px;
  padding-right: 6% !important;
  padding-left: 6% !important;
}

.product-container {
  display: flex;
  align-items: center;
  /* margin: 40px auto; */
  width: 100%;
  background: rgba(97, 97, 97, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(97, 97, 97, 0.25);
  padding: 5%;
  border-radius: 30px;
}

.product-container img {
  width: 35%;
  /* height: 250px; */
  object-fit: cover;
  margin-right: 5%;
}

.detail-left {
  width: 50%;
  height: 100%;
}

.detail-left p {
  font-size: 1.4rem;
  line-height: 1.67;
  color: #4a4a4a;
}

.product-info {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.quantity-button {
  text-align: right;
}

#add-div {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  width: max-content;
}
/* --- */
.quantity {
  display: flex;
  width: max-content;
  /* justify-content: space-between; */
  align-items: center;
  margin-top: 10px;
  background-color: #4caf50;
  border-radius: 15px;
}

.panel-btn {
  background-color: #4caf50;
  min-width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 15px;
}

.quantity input {
  width: 40px;
  text-align: center;
}

.product-info input[type="number"] {
  background-color: #297f2d;
}
